<form method="POST" action="/categorias/editar/<%=categoria.id%>">
    <input type="text" name="categoria" value="<%= categoria.categoria %>" placeholder="Altere a categoria"/>
    <button>Salvar</button>
</form>